.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  box-shadow: 0 1px 3px -2px black;
  background-color: white;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav-menu li:hover {
  color: #c41717;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  padding: 8px 30px;
  border: none;
  border-radius: 30px;
  background-color: rgb(54, 53, 53);
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.login-btn:hover {
  background-color: #e63e3e;
}

.nav-login-cart img {
  width: 38px;
  cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: #ff4d4d;
}
.nav-cart-count {
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;

}